extends ../_extends/layout
block head
	title= meta.top.title
	meta(name="description", content=meta.top.description)
	meta(property="og:description", content=meta.top.description)
	link(rel="canonical", href=meta.common.url + meta.top.canonical)
	meta(property="og:title", content=meta.top.og_title)
	meta(property="og:type", content=meta.top.og_type)
block contents
	div.svg-main
		p これはsvgデータを使用するためのページです
		a(href="https://www.webcreatorbox.com/tech/svg-stroke" target="blank") 参考URL
	div.svg
		span.button__icon
			include ../_includes/svg/arrow_slide.svg
		span
			include ../_includes/svg/test.svg
	div.svg-game
		span
			include ../_includes/svg/game.svg
	div.svg-line
		span.svg-line1
			include ../_includes/svg/stroke_pink.svg
		span.svg-line2
			include ../_includes/svg/stroke_width.svg
		span.svg-line3
			include ../_includes/svg/stroke_opacity.svg
		span.svg-line4
			include ../_includes/svg/house.svg

	//include _includes/pages/information
block scripts
	script(src="/libs/slick.min.js")
	script(src="/libs/snap.svg-min.js")
	script(src="/libs/top.js")
