extends ../_extends/layout
block head
	title= meta.top.title
	meta(name="description", content=meta.top.description)
	meta(property="og:description", content=meta.top.description)
	link(rel="canonical", href=meta.common.url + meta.top.canonical)
	meta(property="og:title", content=meta.top.og_title)
	meta(property="og:type", content=meta.top.og_type)
block contents
	a.imitate-title(href="https://www.msichicago.org/" target="blank") Nature Is Very Nice
	div.imitate
		video(controls autoplay="auto" width="100%" loop)
			source(src="../movie/waterfall.mp4" type="video/mp4")
	div.imitate-container
		div.imitate-containerChild
	div.imitate-container
		div.imitate-containerChild
	div.imitate-container
		div.imitate-containerChild

block scripts
	script(src="/libs/slick.min.js")
	script(src="/libs/top.js")
