extends ./_extends/layout
block head
	title= meta.top.title
	meta(name="description", content=meta.top.description)
	meta(property="og:description", content=meta.top.description)
	link(rel="canonical", href=meta.common.url + meta.top.canonical)
	meta(property="og:title", content=meta.top.og_title)
	meta(property="og:type", content=meta.top.og_type)
block contents
	div.main
		p これはデモページです
	div.main
		a(href="srcset/responsive.html") Responsive/srcset<br>
	div.main
		a(href="srcset/retina.html") Retina/srcset<br>
	div.main
		a(href="tabchange/tab.html") tabchange<br>
	div.main
		a(href="svg/svg.html") svg<br>
	div.main
		a(href="grid/grid.html") grid<br>
	div.main
		a(href="douga/") 動画<br>
	div.main
		a(href="imitate/") imitate<br>


	//include _includes/pages/information
block scripts
	script(src="/libs/slick.min.js")
	script(src="/libs/top.js")
